extends layout 

block content 
    // Simple pug file for showing all posts
    h1 Posts 
    // Error cardpanel for showing errors
    div(id="error" class="card-panel")
    h1 List of CodeSnippets 
    // Table showing all posts
    table 
        tr 
            th #
            th Title
            th Body 
            th User
            th Date added
            th Link
        each post, index in posts 
            tr 
                td= index  
                td= post["title"]
                td= post["body"]
                td= post["user"]
                td= post["createdAt"]
                td: a(href="/api/posts/"+post["title"]) Link

    // Form and LoginMessage to show depending on if the user is logged in or not
    div(id="form" style={ display:"none" })
        h2 Add new posts
        form(action='' id="post-form" method='POST')
            label(for='title') Title
            br
            input(type="text" id="title" name="title") 
            label(for='post-text') CodeSnippet
            br
            textarea(id="post-text" name="body" cols="50" rows="10")
            input(type="submit" class="btn" value="Post")
    
    h3(id="LoginMessage" style={ display:"block"}) Log in to post new CodeSnippets
    script(src="/javascripts/postsList.js") 